<div class="col-sm-offset-4 ">
  <label>Event name:</label>
  <input  class="input" type="text" name="name" placeholder="Enter event name" #nameInput>
  <!--(keyup.enter)="create(nameInput.value);-->
  <!--nameInput.value = ''"-->

  <button type="button" class="glyphicon glyphicon-plus-sign btn btn-primary"
          (click)="addEvent(nameInput.value); nameInput.value=''">
    Add
  </button>
</div>
<br>
<table class="table col-sm-offset-4">
  <tbody>
  <tr>
    <div class="rowinline">
      <div class= "cfset-0 col-sm-3">
        <div  *ngFor = "let event of events">
          <div class="list-group">
            <div class="list-group-item">
              <th scope="row">
                {{event.name}}
                </th>
              <th><a [routerLink] = "['event-details']" style="background-color: #e3f2fd;">
                Details</a></th>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tr>
  </tbody>
</table>
