<div class="container">
  <event-form></event-form>
  <br>
  <div class="row">
    <div class="col-sm-offset-0 col-sm-3">
      <button (click)="getAllEvents()">get all</button>
      <div  *ngFor = "let event of events">
        <br>
        <div class="events"> {{event.name}}
          <div>
            <br>
            <label class=""><a [routerLink]="['api/events/details']"> Details</a></label>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="row"></div>
</div>
