<h2>All events</h2>
<ul class="event">
  <li *ngFor="let event of events">
    [class.selected]="event === selectedEvent"
    (click)="onSelect(student)">
    <span>{{event.id}</span> - {{event.name}}
    <span class="button">}</span>
    <h5>{{topic.name}}</h5>
    <button class="delete"
            (click)="delete(event); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedEvent">
  {{selectedEvent.name}}
  <button (click)="getDetails()">Details</button>
  </div>
<button (click)="add(name.value); name.value=''">Add</button>
