<!--<hr>-->
<!--<div class="row" id="search-component">-->
<!--<div class="col-sm-10 placeholder">-->
<!--<div class="col-sm-12 placeholder">-->
<!--<input class="input" type="text" name="name" placeholder="Enter event name"-->
<!--(keyup.enter)="searchEvent(nameInput.value);-->
<!--nameInput.value = ''" #nameInput>-->
<!--<button type="button" class="glyphicon glyphicon-plus-sign"-->
<!--(click)="searchEvent(nameInput.value)">Search</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<br>-->
<!--<div id="search-component">-->
  <!--<h4>Event search</h4>-->
  <!--<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />-->
  <!--<div>-->
    <!--<div *ngFor="let event of events | async"-->
         <!--class="search-result" >-->
      <!--{{event.name}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
