<div class="row">
  <div class="col-md-offset-1 col-md-4">
    <h4>
      <div *ngIf="event">
        <h2>
          << &nbsp;{{event.name}} &nbsp;>>

        </h2>
        <div *ngFor="let topics of event.topics">
        Topic: {{topics.name}}
        </div>
        <div *ngFor="let details of event.details">
        Info: {{event.details}}
        </div>
      </div>
    </h4>
<add-event></add-event>
    <div [(ngModel)]="event.name">{{event.name}}</div>
  </div>
  <button type="button" class="btn btn-danger"
          (click)="delete(event); $event.stopPropagation()">Delete
  </button>
  <button (click)="goBack()">Back</button>
  <br>
</div>
